# Never push bytecode to the repository.
*.class
/round2/mean/target/
/round6/comparison/target/
/round7/json/target/
/round7/sevenzipsearch/target/
/round7/jsoncountries/target/
/round8/streams/target/
/round8/streams2/target/
/round10/javadocjson/target/
/round8/streams/nbproject/
/round11/junitattainment/nbproject/
